fastapi[standard]
pydantic
python-dotenv
langchain_core
langgraph
pinecone-client
langchain-pinecone
pymongo>=4.5.0
mongoengine>=0.27.0
langgraph-checkpoint-mongodb
pydantic-settings
langchain-groq
openai
langchain_openai
# langchain_community
# typer[all]>=0.9.0
# rich>=13.7.0